html, body {
  height : 100%;
}

body {
  background: url("");
}

.top-pattern {
  background: url("../images/top-pattern.png");
  background-position: center;
  background-size: cover;
  height: 25%;
}

.bottom-pattern {
  background: url("/images/bot-pattern.jpg");
  background-position: center;
  background-size: cover;
}
